.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.page-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 4%;
}

.page-logo {
    display: flex;
    align-items: start;
    gap: 4px;
}

.page-options {
    display: flex;
    align-items: start;
    gap: 16px;
}

.page-content {
    width: 100vw;
}

.page-footer {
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-footer-separator {
    border-style: dashed;
}

.page-footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    justify-content: space-between;
}

.page-footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.team-name {
    font-style: italic;
}

.team-name-wrapper {
    text-align: end;
}