<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="container">
    <h1>Список товаров</h1>
    <ul id="goods-list">
        <!-- Товары будут добавлены здесь динамически -->
    </ul>
    <p id="total-price"></p>
    <button class="yellow-button">Перейти к оплате</button>
</div>

<script>
    const goodsList = {{goodList}};

    // Проверка содержимого goodList
    console.log(goodsList);

    const goodsListElement = document.getElementById('goods-list');
    let totalPrice = 0;

    goodsList.forEach(item => {
        const li = document.createElement('li');
        li.textContent = item.name + " - Цена: " + item.price + " рублей" + " кол-во: " + item.amount;
        goodsListElement.appendChild(li);
        totalPrice += item.price;
    });

    const totalElement = document.getElementById('total-price');
    totalElement.textContent = totalPrice + " рублей";
</script>

</body>
</html>
