
.chat-input-buttons {
    display: flex;
    align-items: center
}

.chat-input-buttons .small-button {
    margin: 0 0 0 5px;
    width: 20%;
}

.chat-input Button {
    height: 35px;
}

.chat-input Input {
    box-shadow: var(--blue-500) 0 0 0;
    margin-bottom: 10px;
}

.chat-input Input:focus {
    box-shadow: var(--blue-500) 0 8px 0;
}