/* стили Cover */

.cover {
    position: relative;
    overflow: hidden;

    border-radius: 10px;

    pointer-events: none;

    /* box-shadow: #3D3C3C36 10px 10px 10px; */
}

.cover img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-position: center center;
    background-size: cover;
    background-clip: border-box;

    height: 100%;
}