.container-sign-in {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-sign-in {
    display: flex;
    justify-content: center;
}

.form-container-sign-in {
    margin-top: 77px;
    height: 330px;
    width: 520px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 20px;
}

.sign-in-form {
    margin-top: 15px;
    height: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-input-sign-in {
    margin-top: 17px;
    width: 420px;
    height: 78px;
}

.input-sign-in {
    width: 420px;
}

.forgot-sign-in {
    margin-top: 8px;
    color: #2196F3;
}

.button-sign-in {
    margin-top: 11px;
    width: 420px;
    height: 50px;
}

.dont-sign-in {
    margin-top: 42px;
}