input {
    border-radius: 20px;
    border-color: var(--gray-800);

    padding: 12px 20px;
    font-size: 14px;
}

.text-input {
    box-shadow: var(--yellow-500) 12px 14px 0;
    transition: 0.2s linear;
}

.text-input:focus {
    box-shadow: var(--orange-500) 12px 14px 0;
}



