.page-title {
    text-align: center;
    margin-bottom: 50px;
}

.page-features-wrapper {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.page-features {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.page-features-item {
    margin-bottom: 20px;
    display: flex;
}

.page-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cheque-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cheque-total {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

@media (max-width: 768px) {
    .page-features-wrapper {
        flex-direction: column;
    }

    .page-info-title {
        display: none;
    }

    .page-info-description {
        display: none;
    }
}

@media (max-width: 450px) {
    .page-features {
        display: block;
    }
}
