.redirect-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.redirect-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 400px;
    gap: 20px;
}

.redirect-info > *:first-child {
    margin-bottom: -60px;
}

@media (max-width: 768px) {
    .error-div {
        max-width: 300px;
    }
}