/* стили Quotation */

.quotation-container {
}

.quotation {
    max-width: 175px;
    height: fit-content;
}

.quotation-author {
    margin-top: 10px;
    text-align: right;

    max-width: 175px;
}