.point-stars {
    display: flex;
    flex-direction: row;
}

.point-address {
    text-decoration: solid;
    text-wrap: wrap;
}

.point-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}
