.search-page {
    display: flex;
    flex-direction: column;

    align-content: start;

    margin: 40px 0;
}

.search-page form {
    display: flex;
    width: auto;
    max-width: 800px;
    margin: 0 auto 65px;
}

.search-page form > :first-child {
    width: 60vw;
}

.search-bar {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-content: center;

    margin-bottom: 70px;
    padding-bottom: 38px;

    border-bottom-style: dashed;
    border-bottom-width: 2px;
}

.search-bar-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    gap: 10px;
}

.search-bar h3 {
    display: flex;
    flex-direction: row;

    min-width: fit-content;
}

.search-string {
    display: inline-block;
    max-width: 25vw;

    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--blue-500);
}

.filters {
    display: flex;
    flex-direction: row;

    gap: 40px;
}

.filters > * {
    width: 150px;
}

.filters > :first-child {
    width: 250px;
}

.search-results-wrapper {
    display: block;
    position: relative;
    justify-content: center;
    align-content: center;
}

.search-results {
    display: grid;
    align-content: center;
    justify-content: center;

    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 30px;
}

.search-results > * {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.search-nothing-found {
    position: absolute;
    top: 15vh;
    left: 50vw;
    display: flex;
    visibility: hidden;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    transform: translateX(-50%);
}

.search-nothing-found p {
    margin-left: 3vw;

    font-size: 36px;

    color: var(--orange-500);
}

@media (max-width: 900px) {
    .search-page {
        margin-top: 30px;
    }

    .search-page form {
        align-items: center;
        justify-content: center;

        margin: 0 auto 40px;
        width: 100%;
    }

    .search-page form > :first-child {
        width: 80%;
    }

    .search-bar {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .search-string {
        max-width: 50vw;
    }
}

@media (max-width: 500px) {
    .search-page form > :first-child {
        width: 100%;
    }

    .filters {
        flex-direction: column;
        align-items: end;

        width: 100%;
        gap: 20px;
    }

    .filters > * {
        width: 50%;
    }

    .filters > :first-child {
        width: 100%;
    }
}