.adaptive {
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-content: center;
}

.search-string {
    color: var(--blue-500);
}

.filters {
    display: flex;
    flex-direction: row;


}
