.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.5s ease-out;
}
.chat-container.open {
    transition: all 0.5s ease-in;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
}

.chat-messages {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.open-button {
    display: flex;
    z-index: 1000;
    width: 50px;
}


.close-button {
    display: flex;
    position: absolute;
    right: 5px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}